@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif;
    

}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60vh;
    background-image: url(https://c.tenor.com/EaVKs4K0iGkAAAAC/black-hole.gif);
    background-size: cover;


}

ul{
    position: relative;
    transform: skewY(-15deg);

}
ul li {
    position: relative;
    list-style: none;
    width: 600px;
    background: #2623259e;
    padding: 40px;
    z-index: var(--i);
    transition: 0.5s;
    top: 60px;
}

ul li:hover{
    background: cornflowerblue;
    transform: translateX(50px);
}
ul li ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;;
    width: 40px;
    height: 100%;
    background: #35383e;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;

}

ul li :hover::before{
    background: cornflowerblue;
}
ul li ::after{
    content: '';
    position: absolute;
    top:-40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;

}

ul li :hover::after{
    background: cornflowerblue;

}
ul li a {
    text-decoration: none;
    color: #d1d2d7;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-size: 20px;


}

ul li:hover a  {
    color: aliceblue;
}

ul  li:last-child ::after{
    box-shadow: -128px 128px 20px rgba(6, 6, 6, 0.25);


}


/*planet*/

.earth{
    position: absolute;
   
    left: 89%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0  20px rgba(0,0,0,1), 0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
    background-image: url(tierra888.jpg);
 


}




@keyframes animateEarth{
    0%
    {
      background-position:0 0; 
    }
   
    100%{
     background-position: -750px 0;
    }
   

}
   
.imagen{
    width: 25%;
    float:right;
    margin: 15%;	
    display:block;
}

.sebas{
    text-align: center;
    font-size:650% ;
    color: greenyellow;
    margin: 10%;
}