*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#preloader{
    width: 2000px;
    height: 2000px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    z-index:204;
    transition: all ease 9s;
    overflow: hidden;
}

#preloader img {
    width: 200px;
    object-position: center;
    object-fit: contain;
    position: relative;

}


/**/
@media(feColorMatrix){
    #preloader img{
        width: 140px;
    }
}
/*menu*/

ul{
    position: relative;


}


ul li {
    position: relative;
    list-style: none;
    width: 200px;
    background: #2623259e;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
    top: 50px;
}

ul li:hover{
    /*background: cornflowerblue;*/
    background: url(https://giffiles.alphacoders.com/211/211255.gif);
    transform: translateX(50px);
}
ul li ::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;;
    width: 40px;
    height: 100%;
    background: #35383e;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;

}

ul li :hover::before{
   /* background: cornflowerblue;*/
   background: url(https://giffiles.alphacoders.com/211/211255.gif);

}
ul li ::after{
    content: '';
    position: absolute;
    top:-40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;

}

ul li :hover::after{
    /*background: cornflowerblue;*/
    background: url(https://giffiles.alphacoders.com/211/211255.gif);

}
ul li a {
    text-decoration: none;
    color: #d1d2d7;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
    font-size: 20px;


}

ul li:hover a  {
    color: aliceblue;
}

ul  li:last-child ::after{
    box-shadow: -128px 128px 20px rgba(6, 6, 6, 0.25);


}

.imagen{
    width: 40%;
    float:right;
    margin: 15%;	
    display:block;
}


.bob{
    background-image: url(https://c.tenor.com/V1E1aE_THygAAAAC/stars-space.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.earth{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0  20px rgba(0,0,0,1), 0 0 50px #4069ff;
    animation: animateEarth 15s linear infinite;
    background-image: url(tierra888.jpg);
 
  }
 
 
@keyframes animateEarth{

    0%
    {
       background-position:0 0; 
    }
    
    100%{
      background-position: -750px 0;
    }
    
 
}

/* HOME */

h1{
    font-weight: bold;
    font-size: 6rem;
    color: rgb(245, 235, 235);
}  

.rocket{
   
    width: 300px;
    height: 300px;
    animation : ani 0.2s ease infinite alternate-reverse;
}   

@keyframes ani {
    0% {
    transform : rotate(0.8deg);
    
    }
    100%{
    transform : rotate(-0.8deg); 
    }
}
.hi{
    font-family: 'Manjari', sans-serif;
    font-size: 1.2rem;
    color: rgb(254, 250, 250);
    margin: 0.5rem; 
}

.ki{
    font-family: 'Manjari', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin: 0.5rem;
    text-align: center;
}

.inf-rock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
    word-break: break-all;
    display: list-item;
    align-items: center;
    font-weight: 500;
    margin: 0.4rem 1rem 0 1rem;
    font-size: 0.5rem;   
}

.inf-rock a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4rem;
    font-size: 1rem;
    padding: 2px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(4, 245, 185);
    margin: 1.5rem;
    box-shadow: 0px 1px 15px 2px rgb(255, 0, 0);
}

.rr{
    background-image: url(https://mymodernmet.com/wp/wp-content/uploads/2019/10/nasa-black-hole-visualization-1.gif);
    background-size: cover;
    background-attachment: fixed;

    
 }





/**/

.proyectos{
    margin: 0;
    background-image: url(https://c.tenor.com/fputHj4ejZ0AAAAC/stars-space.gif);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: 1000px;
    background-attachment: fixed;

 }
 .container{
    background-color: black;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    border-radius: 100px;

}


.container *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;

}

.container  h3 {
    background-color: black;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px ;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;

}

.container::before,
.container::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35 ease;
    background-color: rgb(4, 158, 145);
    border-left: 3px solid #fff;
    border-right: 3px solid  #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;


}

.container::before{
    -webkit-transform: skew(45deg)  translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.container::after{
    -webkit-transform: skew(45deg)  translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.container img  {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;

}

.container figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%) scale(0.5);
    transform: translate(-50%,-50%) scale(0.5);
    opacity:0 ;
    -webkit-box-shadow:0 0 10px #000 ;
    box-shadow: 0 0 10px rgb(248, 8, 8);

}


.container a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

}

.container:hover img {
    opacity: 0.5;
}

.container:hover::before,
.container.hover::before{
    transform: skew(45deg)  translateX(-55%);
    -webkit-transform: skew(45deg) translateX(-55%);
}

.container:hover::after,
.container.hover::after{
    transform: skew(45deg)  translateX(55%);
    -webkit-transform: skew(45deg) translateX(55%);
}



.container:hover figcaption,
.container.hover  figcaption{

    -webkit-transform: translate(-50%, -50%)  scla(1);
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;

}

h1{
    color: rgb(255, 230, 1)
}

.img{
    width: 300px;
    align-items: center;
    align-content: center;
    text-align: center;
}


/*juego*/
#container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #222;
	display: grid;
	grid-template-rows: 60% 40%;
}

#maze {
	position: relative;
	width: 340px;
	height: 240px;
	/*background: #39a;
	
	align-self: center;
	justify-self: center;
	place-self: center center;*/
	top: 18vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mbox,
.controls {
	height: 100%;
	background: url(mm.gif);
	display: grid;
    background-size: contain;
}

.mbox {
}

.buttons {
	width: 210px;
	height: 140px;
	
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 70px 70px;
	grid-template-columns: 70px 70px 70px;

    top: -15px;
    position: relative;
}

.btn {
	width: 60px;
	height: 60px;
	border: 2px rgb(19, 3, 243) solid;
	border-bottom: 2px rgb(2, 255, 2) solid;
	align-self: center;
	justify-self: center;
	cursor: pointer;
	border-radius: 8px;
	display: grid;
	/*box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);*/
}
.chevron {
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	color: #222;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}

#bu {
	grid-column-start: 2;
}
#bd {
	grid-column-start: 2;
	grid-row-start: 2;
}
#bl {
	grid-column-start: 1;
	grid-row-start: 2;
}
#br {
	grid-column-start: 3;
	grid-row-start: 2;
}

#thingie,
#home {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	/*background: #39a;
	transition: all .1s;*/
}

.emo {
	position: absolute;
	top: 4px;
	left: 1px;
	width: 13px;
	height: 13px;
	border-radius: 20px;
	font-size: 15px;
	line-height: 15px;
	text-align: left;
    background-color: #fff;
}

.barrier {
	position: absolute;
	background: rgb(247, 2, 2);
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
	height: 2px;
}

#bottom {
	top: 220px;
	left: 20px;
	width: 302px;
	height: 2px;
}

/*style reset*/
button {
	display: inline-block;
	border: none;
	padding: none;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	-webkit-tap-highlight-color: transparent;
}

button:hover,
button:focus {
	-webkit-appearance: none;
}

button:focus {
	outline: none;
}

button:active {
	transform: scale(1);
	-webkit-appearance: none;
}






